td.hijack_button form {
    display: inline;
}


td.hijack_button form .fitem_fsubmit {
    padding: 0 !important;
    margin: 0 !important;
    border-top: 0 !important;
    background-color: inherit !important;

}


td.hijack_button form .fitem_fsubmit .felement.fsubmit {
    margin-left: 0 !important;
}
