<h3>Wer kommt für einen Hijack in Frage?</h3>

{{#has_rows}}
<table class="generaltable">
    <tr class="header">
        <th>{{#str }} userid, local_forumhijacker {{/ str}}</th>
        <th>{{#str }} firstname, local_forumhijacker {{/ str}}</th>
        <th>{{#str }} lastname, local_forumhijacker {{/ str}}</th>
        <th>{{#str }} request_date, local_forumhijacker {{/ str}}</th>
        <th>{{#str }} num_discussions, local_forumhijacker {{/ str}}</th>
        <th>{{#str }} num_posts, local_forumhijacker {{/ str}}</th>
        <th>{{#str }} actions, local_forumhijacker {{/ str}}</th>
    </tr>
    {{#table_data}}
    <tr>
        <td>{{user_id}}</td>
        <td>{{first_name}}</td>
        <td>{{last_name}}</td>
        <td>{{#userdate}} {{time_created}}, %A, %d %B %Y, %I:%M %p {{/userdate}}</td>
        <td>{{num_user_discussions}}</td>
        <td>{{num_user_posts}}</td>
        <td class="hijack_button">{{{action_form}}}</td>
    </tr>
    {{/table_data}}
</table>
{{/has_rows}}
{{^has_rows}}
<p>{{#str }} hijacker_error_no_victims, local_forumhijacker {{/ str}}</p>
{{/has_rows}}

<div>{{user_id}}</div>